.animate {
  --bez-fastToSlow: cubic-bezier(0, .8, 0, 1);
}

/* Animations Cheat-sheet */

/* animation-name: greet;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-direction: alternate-reverse;
    animation-fill-mode: both; */

/* Transitions Cheat-sheet */

/* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s; */




/* Utility Classes */

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* COUNT */
.animate.animateInfinite {
  animation-iteration-count: infinite !important;
}

/* DIRECTIONS */
.animate.anmDirAlt {
  animation-direction: alternate !important;
}
.animate.anmDirRev {
  animation-direction: reverse !important;
}
.animate.anmDirARev {
  animation-direction: alternate-reverse !important;
}
.animate.animateDirNorm {
  animation-direction: normal !important;
}

/* DELAYS */
.animate.anmDel01 {
  animation-delay: 0.1s !important;
}
.animate.anmDel02 {
  animation-delay: 0.2s !important;
}
.animate.anmDel03 {
  animation-delay: 0.3s !important;
}
.animate.anmDel04 {
  animation-delay: 0.4s !important;
}
.animate.anmDel05 {
  animation-delay: 0.5s !important;
}
.animate.anmDel06 {
  animation-delay: 0.6s !important;
}
.animate.anmDel07 {
  animation-delay: 0.7s !important;
}
.animate.anmDel08 {
  animation-delay: 0.8s !important;
}
.animate.anmDel09 {
  animation-delay: 0.9s !important;
}
.animate.anmDel1 {
  animation-delay: 1s !important;
}
.animate.anmDel2 {
  animation-delay: 2s !important;
}
.animate.anmDel3 {
  animation-delay: 3s !important;
}

/* DURATIONS */
.animate.anmDur01 {
  animation-duration: 0.1s !important;
}
.animate.anmDur02 {
  animation-duration: 0.2s !important;
}
.animate.anmDur03 {
  animation-duration: 0.3s !important;
}
.animate.anmDur04 {
  animation-duration: 0.4s !important;
}
.animate.anmDur05 {
  animation-duration: 0.5s !important;
}
.animate.anmDur06 {
  animation-duration: 0.6s !important;
}
.animate.anmDur07 {
  animation-duration: 0.7s !important;
}
.animate.anmDur08 {
  animation-duration: 0.8s !important;
}
.animate.anmDur09 {
  animation-duration: 0.9s !important;
}
.animate.anmDur1 {
  animation-duration: 1s !important;
}
.animate.anmDur2 {
  animation-duration: 2s !important;
}
.animate.anmDur3 {
  animation-duration: 3s !important;
}

/* FILL MODE */
.animate.anmFillBck {
  animation-fill-mode: backwards !important;
}
.animate.anmFillFrw {
  animation-fill-mode: forwards !important;
}
.animate.anmFillBoth {
  animation-fill-mode: both !important;
}



/* Animations */

@keyframes slide-left {
  from {
    transform: translateX(25.7rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-25.7rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-1.7rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(1.7rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down-2 {
  0% {
      opacity: 0;
      transform: translateY(-40rem);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}

@keyframes rotate20 {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(20deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animations - specific */

.animate.animationGreet {
  animation: rotate20 0.1s ease-in 1s 10 var(--bez-fastToSlow) alternate-reverse;
  transform-origin: bottom right;
}

.animate.left {
  animation: slide-left .5s ease-in;
}
.animate.right {
  animation: slide-right .5s ease-in;
}
.animate.up {
  animation: slide-up .5s ease-in;
}

.animate.down {
  animation: slide-down .5s ease-in;
  content: "";    
}

.animate.zoomIn {
  animation: zoomIn .5s ease-in;
  content: "";    
}

.animate.headerDown {
  animation: slide-down-2 0.5s var(--bez-fastToSlow);
  animation-fill-mode: backwards;
  content: "";    
}

/* Transitions */