/* LINE (Absolute) */

.line {
  position: absolute;
  top: 0;
  left: 49.5%;
  background-color: rgb(255, 255, 255);
  width: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px;
  z-index: 10;
}

/* EXP CARD */

/* Main Container */

.timeline {
  position: flex;
  min-width: 23rem;
  max-width: 52rem;
  margin: 1rem;
}
.container {
  padding: 0.4rem 2.7rem 0.4rem 0.4rem;
  margin-bottom: 2.5rem;
  position: relative;
  width: 50%;
}
.leftContainer.container {
  padding: 0.4rem 0.4rem 0.4rem 2.7rem;
}

.textBox {
  position: relative;
  padding: 20px 30px;
  background-color: #f5f5f5;
  border-radius: 15px;
  font-size: 15px;
}
.leftContainer {
  left: 50%;
}
.rightContainer {
  left: 0;
}

/* ICON */

.iconContainer {
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  width: 3rem;
  height: 3rem;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
}
.icon {
  padding: 0.5rem;
}

.rightContainer > .iconContainer {
  left: initial;
  right: -1.5rem;
}
