/* LINE (Absolute) */

.line {
  position: absolute;
  top: 0;
  left: 49.5%;
  background-color: rgb(177, 177, 177);
  width: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px;
  z-index: 10;
}

/* EXP CARD */

/* Main Container */

.timeline {
  position: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  position: relative;
  width: 94vw;
  max-width:  62rem;
  margin: clamp(0.5rem, 1vh, 1rem);
}
.container {
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  margin-bottom: 2.5rem;
  position: relative;
  width: 50%;
}

.rightContainer.container {
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}
.rightContainer {
  text-align: start;
  left: 50%;
}
.leftContainer {
  text-align: end;
  left: 0;
}

.textBox {
  position: relative;
  
  padding: clamp(10px, 10%, 40px) clamp(2.7rem, 5%, 40px) clamp(10px, 10%, 40px) clamp(5px, 5%, 40px);
  background-color: #f5f5f5;
  border-radius: 15px;
  font-size: clamp(1rem, 1.8vw, 1.15rem);
}
.textBox h2 {
  font-weight: 500;
  font-size: larger;
}
.rightContainer > .textBox {
  padding: clamp(10px, 10%, 40px) clamp(5px, 5%, 40px) clamp(10px, 10%, 40px) clamp(2.7rem, 5%, 40px);
}


/* ICON */

.iconContainer {
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  width: 3rem;
  height: 3rem;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
}
.icon {
  padding: 0.5rem;
}

.leftContainer > .iconContainer {
  left: initial;
  right: -1.5rem;
}
